/* BASIC STYLES HERE */

* {
  font-family: 'Source Code Pro', monospace;
}

p {
  margin: 0;
}

body {
  /* background-image: url(https://wallpapersmug.com/download/1366x768/d19943/northern-lights-lake-sky-nature.jpg); */
  background-image: url(https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  /* background-image: url(https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1540458638618-893e9fb35c07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80);

  height: 60vh; */
  background-position: bottom;
  background-attachment: fixed;
  /* background-size: cover; */
  bor
}



.rug {
  /* background-color: rgba(0, 0, 0, 0.695); */
  background-image: url(https://data.whicdn.com/images/252961299/original.gif);
  opacity: 85%;
}


.cloud {
  background: rgba(255, 255, 255, 0.459);
}

.task-yeah {
  background-color: rgba(245, 245, 245, 0.61);

}